html,
body,
div {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to left top, rgb(244, 243, 246), rgb(59, 4, 170));
  background-size: cover;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
@media screen and (min-width: 768px) {
  body {
    align-items: center;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

h2,
h3 {
  margin-bottom: 10px;
}

.hidden {
  display: none;
}

.mb {
  margin-bottom: 15px;
}

.mbSmall {
  margin-bottom: 10px;
}

.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.flex-space-between {
  justify-content: space-between;
}
.flex-space-around {
  justify-content: space-around;
}
.flex-align-center {
  align-items: center;
}

.btn {
  padding: 10px;
  cursor: pointer;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.btn--tag {
  margin-top: 7px;
  margin-right: 7px;
}
.btn--square {
  padding: 10px;
  cursor: pointer;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: lightgreen;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid #fff;
}
.btn--square-gray {
  padding: 10px;
  cursor: pointer;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: lightgreen;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid #fff;
  background-color: lightgray;
}
.btn--square-refresh {
  padding: 10px;
  cursor: pointer;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: lightgreen;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid #fff;
  background-color: #1cafed;
  transition: background-color 0.5s, color 0.5s, border-color 0.5s;
}
.btn--square-refresh:hover {
  color: #1cafed;
  background-color: #fff;
  border: 1px solid #1cafed;
  transition: background-color 0.5s, color 0.5s, border-color 0.5s;
}
.btn--square-refresh i {
  transform: rotate(0deg);
  transition: transform 0.5s ease-in-out;
}
.btn--square-refresh:hover i {
  transform: rotate(270deg);
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
}

#buttonShowInstructions {
  position: relative;
  top: 25px;
  background-color: #fc9400;
  border: none;
  color: #fff;
  word-spacing: 3px;
}

.card {
  height: auto;
  width: 300px;
}
.card-bg {
  background-color: #e9e0d2;
}
@media screen and (min-width: 768px) {
  .card {
    width: 90vw;
    height: 350px;
  }
}
.card img {
  max-width: 100%;
  max-height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (min-width: 768px) {
  .card img {
    max-height: 350px;
  }
}
.card-body {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .card-body {
    flex-direction: row;
  }
}
.card-details {
  flex-grow: 1;
  padding: 15px;
}
@media screen and (min-width: 768px) {
  .card-details {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}
.card-details-header {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#instructions {
  padding: 15px;
}

#divTagsAndButtons {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 991px) {
  #divTagsAndButtons {
    flex-direction: row;
    justify-content: space-between;
  }
}

#buttonShowRecipe {
  margin-top: 7px;
  min-width: 100%;
}

#mealLinkToOriginalRecipe {
  margin: 10px auto;
}
@media screen and (max-width: 767px) {
  #mealLinkToOriginalRecipe {
    min-width: 100%;
  }
}

#buttonShowRecipe,
#mealLinkToOriginalRecipe {
  transition: background-color 0.5s, color 0.5s, border 0.5s;
}
#buttonShowRecipe:hover,
#mealLinkToOriginalRecipe:hover {
  background-color: #fff;
  color: lightgreen;
  border: 1px solid lightgreen;
  transition: background-color 0.5s, color 0.5s, border 0.5s;
}

#mealCategory:hover,
.btn--tag:hover {
  cursor: default;
}/*# sourceMappingURL=style.css.map */